@model WebSudoku.Models.Sudoku

<script type="text/javascript">
    ReservModel.SaveModel(@Html.Raw(Json.Encode(Model)));
</script>

@for (int i = 0; i < Model.Cell.Length; i++)
{
    <div class="draw-raw">
        @for (int j = 0; j < Model.Cell[i].Length; j++)
        {
            if (Model.Cell[i][j].IsEmptyCell)
            {
                <div class="cell cell-input row-@i column-@j">
                    <input type="text" maxlength="1" style="text-align: center" data-i="@i" data-j="@j" />
                </div>
            }
            else
            {
                <div class="cell cell-fixed row-@i column-@j">
                    <span class="Inside">
                        @Model.Cell[i][j].Data
                    </span>
                </div>
            }
        }
    </div>
}

